
header h2 {
  background: #222 url(https://www.transparenttextures.com/patterns/wood-pattern.png) repeat center top;
  background-size: cover;
  background-position: center center;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  font-size: larger;
}

#curve_chart, #curve_chart2 {
  display: inline-block;
  width: 800px;
  height: 600px;
  float: none;
  margin-right: 5px; /* adjust margin as needed */
}

nav {
  background: #222 url(https://www.transparenttextures.com/patterns/wood-pattern.png) repeat center top;
  height: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
}

nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
}

nav a:hover {
  background: rgba(255,255,255,0.2);
}

body {
  margin: 20;
  padding: 20;
}

.footer-image {
  background-origin: padding-box;
  box-sizing: border-box;
  background-image: url(../images/kesapaiva.jpg);
  background-size: cover;
  background-position: center center;
  padding: 70px;
  color: white;
  text-align: center;
}

