<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      
      <title> Ruokinta-astian aktiivisuus </title>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      
      <header>
        <h2>Ruokinta-astian aktiivisuusaikojen ja liikedatan seurantaa</h2>
      </header>
      
      <script type="text/javascript">
        
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(init);

        function init() {
          var socket = io();
          socket.on('my_response', function (data) {
            var s = JSON.parse(data.result);
            console.log(s)
            drawChart(s)
          })
        }
  
        function drawChart(s) {
          var data = new google.visualization.DataTable();
            data.addColumn('number', 'Time');
            data.addColumn('number', 'Kallistuminen');
            data.addColumn('number', 'Keinuminen');
            //data.addColumn('number', 'z');
            data.addRows(s);
  
            var yMin;
            var yMax;
            var columnRange = data.getColumnRange(1);
            if ((columnRange.max - columnRange.min) < 100) {
              yMin = ((columnRange.max + columnRange.min) / 2) - 1;
              yMax = ((columnRange.max + columnRange.min) / 2) + 2;
            } else {
              yMin = columnRange.min;
              yMax = columnRange.max;
            }
          

          var options = {
            title: 'Ruokinta-astian Liikedata',
            curveType: 'function',
            legend: { position: 'bottom' },
            vAxis: {
                    viewWindow: {
                      min: yMin,
                      max: yMax
                    }
                  }
          };
          
          
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
          chart.draw(data, options);
          };
          
      </script>
    </head>
    <body>
      <nav>
        <ul>
          <li><a href="/nippeli">Lisätietoa Projektista</a></li>
          <li><a href="/stored">Dataa</a></li>
          
        </ul>
        
      </nav>
      
      <!--   -->
      <div id="curve_chart" style="width: 1000px; height: 700px"></div>
      <footer class="footer-image">Kohti huolettomia päiviä</footer>
      
    </body>
  </html>
  
