<!DOCTYPE html>
<html>
<head>
    <title>Stored Data</title>
</head>
<body>
    <h1>Stored Data</h1>
    <table>
        <thead>
            <tr>
                <th>Alfa</th>
                <th>Kallistuminen</th>
                <th>Keinuminen</th>
            </tr>
        </thead>
        <tbody>
            {% for mg in measurements[-20:] %}
                <tr>
                    <td>{{ mg[0] }}</td>
                    <td>{{ "{:.2f}".format(mg[1]) }}</td>
                    <td>{{ "{:.2f}".format(mg[2]) }}</td>
            
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
